*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal: #1275d8;
    --color-acento: #acef00;
    --color-tercer: #7700d2;
    --color-texto: #1a1f2a;
}

img{
    width: 100%;
    
}

.boton-vermas{
  display: inline-block; 
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.3s; 
  border-radius: 3px;
  background-color: var(--color-principal);
  margin-top: 10px;
}
.boton-vermas:hover{
   transform: scale(1.1);
   
}

h3{
font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  color: var(--color-principal);

}
.titulo-principal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: var(--color-principal);
}

.titulo-secundario{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: var(--color-principal);
  display: flex;
  justify-content: center;
  margin-top: 18px;
  padding: 10px;
  text-align: center;
}
p{

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: var(--color-texto);
}

#cabecera-principal{
    padding-bottom: 20px 2% 20px 2%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--color-principal);

}

.boton-principal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: var(--color-principal);
  text-decoration: none;
  padding: 8px 15px 8px 15px;
  transition: all linear 0.3s;
  border-radius: 3px;


}
.elements-row{
    display: flex;
    justify-content: center;
    justify-content: space-around   ;
    width: 96%;
    margin: 5px 2% 5px 2%;


}


.articulo-index{
    padding: 20px;

}

#area-multimedia{
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(8, 29, 84, 0.6), rgba(8, 29, 84, 1)), 
                url('assets/obelisco.jpeg') center/cover no-repeat;
    background-size: 100%;
    padding: 100px;
}
#area-multimedia video{
    margin: auto;
    padding-top: 40px;
}

#destacados-semana{

    background-color: rgba(8, 29, 84, 1);
    background-size: 100%;
}
video{
    width: 96%;
    display: flex;
    justify-content: center;
}

.texto-oculto{
    display: none;
}
.boton-principal:hover{
    color: rgb(255, 255, 255);
    background-color: var(--color-principal);
}
@media only screen and (max-width: 600px){
    #cabecera-principal{
    flex-direction: column;
       }
nav[role=navigation]{
    width: 96%;
}
    .boton-principal{

        display: block;
        width: 96%;
        margin: 5px 2% 5px 2%;
        text-align: center;
      
        border-radius: 0;
    }

    .elements-row {
        flex-direction: column; 
        align-items: center;   
    }

    #area-multimedia{
        background-color: rgba(8, 29, 84, 1);
        background-image: none;
    }
}


